@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer utilities {
  .hero-gradient {
    background: radial-gradient(
        circle at top left,
        rgba(43, 108, 238, 0.1),
        transparent 40%
      ),
      radial-gradient(
        circle at bottom right,
        rgba(43, 108, 238, 0.1),
        transparent 40%
      );
  }

  .dark .hero-gradient {
    background: radial-gradient(
        circle at top left,
        rgba(43, 108, 238, 0.15),
        transparent 40%
      ),
      radial-gradient(
        circle at bottom right,
        rgba(43, 108, 238, 0.15),
        transparent 40%
      );
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100 dark:bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
